body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color:#333;
    background-color: #f4f4f9;
}
header{
    background: #0078d7;
    color: white;
    padding: 20px;
    text-align: center;
}
section{
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(red, green, blue, alpha);

}
h1,h2{
    color: #0078d7;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    background: #e8f0fe;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
a{
    color: #0078d7;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}